html{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(47, 36, 255) 0%, rgb(74, 74, 255) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 60px;
    position: relative;
    background-color:rgb(100, 180, 254);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.my-info-section{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 40px;
    
    border-style: none solid none none;
    border-width: 1px;
    border-color: black;
}

.my-name{
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
}

.my-photo{
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

.telegram-icon{
    width: 60px;
    height: 60px;
}

.telegram-link{
    width: 60px;
    height: 60px;
}

.inst-icon{
    width: 56px;
    height: 56px;
}

.inst-link{
    margin-top: 2px;
    margin-left: 24px;
    width: 56px;
    height: 56px;
}

.facebook-icon{
    width: 56px;
    height: 56px;
}

.facebook-link{
    margin-top: 2px;
    margin-left: 24px;
    width: 52px;
    height: 52px;
}

.icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-expectations-section{
    width: 33%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 40px;
    
    border-style: none solid none none;
    border-width: 1px;
    border-color: black;
}

.exp-header{
    margin-bottom: 20px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
}

.list{
    padding-left: 20px;
    margin-top: 0;
}

.list-elem{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
}

.my-experience-section{
    width: 33%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 40px;
}

.experience-section-header{
    margin-bottom: 20px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
}